.bubble_text {
    font-size: 8px;
    color: gray;
    font-family: Arial;
}

.stat_text {
    font-size: 12px;
    color: navy;
    font-family: Arial;
}

.stat_metric {
    fill: #80bdff;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
}

.references {
    font-size: 10px;
    color: black;
}

.display-4 {
  font-size: 3rem;
}

.callout {
  color: red;
}



@media screen and (min-width: 500px) {
    .story-cover {
        min-height: 850px;
        background-image: url("../img/pile-med.jpg");
        background-position: bottom;
        background-size: 100%;
        background-attachment: fixed;
    }

    .text-only {
      min-height: 200px;
    }

    .story .multi-column {
        min-height: 400px;
    }

    .story div {
        margin: 20px 0px 25px 0px;
    }

    .story #start-story{
        margin: 100px 0px 50px 0px;
    }

    
    .story #end-story{
      margin: 100px 0px 100px 0px;
  }
  }

  @media screen and (max-width: 500px) {
    .story-cover {
        min-height: 250px;
        background-image: url("../img/pile-small.jpg");
        background-position: bottom;
        background-size: 100%;
        background-attachment: fixed;
    }

    .story .row {
      min-height: 400px;
    }

    .story div {
      margin: 20px 0px 10px 0px;
    }

    .story #start-story{
        margin: 25px 0px 10px 0px;
    }

    .story #end-story{
      margin: 25px 0px 10px 0px;
  }
  }

  #story-heading {
    border: 2px solid #333;
    background-color: white;
    background-color: rgba(255,255,255,.8);
    display: inline-block;
  }

#overfish-image {
  background-image: url(../img/fish-market.jpg);
  background-position-x: right;
  background-size: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#vessels-image {
  background-image: url(../img/fish-boat.jpg);
  background-position-x: right;
  background-size: 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/****************/
/*  FISH LANDINGS AREA & BAR CHART  */
/****************/
#viz-area .axis-title, #viz-bar .axis-title {
  font-size: .9rem;
}

#viz-area .areaTooltip {
  font-style: italic;
}


/****************/
/*  SUBSIDIES LINE CHART  */
/****************/

#viz-subsidies .axis path,
#viz-subsidies .axis line {
  fill: none;
  stroke: #c7c7c7;
  shape-rendering: crispEdges;
}
#viz-subsidies .axis text {
  font-size: 13px;
  fill: grey;
}

#viz-subsidies .line {
  fill: none;
  stroke: #1C9A3D;
  stroke-width: 1.5px;
}

#viz-subsidies .tooltip-circle {
  fill: #96AB96;
}

.legend-labels {
  font-size: 12px;
}

/****************/
/*  RADAR CHART  */
/****************/
#radar-div-row{
  text-align: center;
}


#viz-radar .axis {
  font: 15px sans-serif;
}

#viz-radar .axis path,
#viz-radar .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

#viz-radar #chart {
  position: absolute;
  top: 50px;
  left: 100px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  /* width: 100%; */
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/***************************/
/*  PARALLEL COORDINATES  */
/*************************/

.pcLegend{
    fill: #80bdff;
    font-size: 11px;
}

pcFishTitle {
    fill: #0056b3;
    font-family: Arial;
    font-size: 18px;
}

.compareAxis{
    font-size: 11px;
}

.comparePath {
    stroke: #80bdff;
    fill: none;
    stroke-width: 2px;
    opacity: .7;
}
.highlightPath {
    stroke: #0056b3;
    fill: none;
    stroke-width: 3px;
    opacity: 1;
}