.bubbles {
    stroke-width: 1px;
    stroke: navy;
}

.bubble_text {
    font-size: 8px;
    color: gray;
    font-family: Arial;
}

.stat_text {
    font-size: 12px;
    color: navy;
    font-family: Arial;

}


.references {
    font-size: 7px;
    color: black;
}