
/* ADD YOUR STYLES HERE */
body {
  font-family: 'Raleway', sans-serif;
  background-color: mintcream;
}

.container-fluid {
  font-style: bold;
  font-size: 12px;
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  color: grey;
}

.table{
  color: grey;
  font-size: 14px;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  color: grey;
}

label {
  color: grey;
}

#callout{
  font-size: 12px;
  /*border: #0b2e13;*/
}

img {
  text-align: center;
  max-width: 60%;
  max-height: 30%;
  margin:auto;
  opacity: 0.8;
}

.img-container {
  text-align: center;
}

/****************/
/*  LINE CHART  */
/****************/

.axis path,
.axis line {
  fill: none;
  stroke: #c7c7c7;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 13px;
  fill: grey;
}

.line {
  fill: none;
  stroke: #1C9A3D;
  stroke-width: 1.5px;
}

.tooltip-circle {
  fill: #96AB96;
}


/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

